---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import Worker from '../assets/industrial-worker.png';
import Technician from '../assets/technician.png';
import PlumberTeamWhite from '../assets/plumber-team-white.png';
---


<Layout>
    <div id="about-page-container">
        <div class="flex bg-[#f7f9fb] p-5">
            <div id="about-page-start" class="flex flex-col rounded-md bg-white max-w-[50%] mx-4 px-4 py-2">
                <span class="text-[#8c1111] font-semibold font-[Inter]"> How we started </span>
                <span class="text-2xl font-bold font-[Golos_Text] mb-5 max-w-[18pc]"> Our Mission is Reliable Plumbing, Rooted in Community </span>
                <span class="text-[12px] font-[Golos_Text]"> 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Phasellus vitae dui ultrices, feugiat neque id, pulvinar ligula. 
                    Nam et lorem vitae lectus condimentum feugiat vulputate nec sapien. 
                    Suspendisse nec accumsan purus. Cras et gravida tortor, nec mollis ipsum. 
                    Vivamus a justo dolor. Integer a ligula nisi. Cras at lacinia velit. 
                    Curabitur eu ligula arcu.
                </span>
            </div>
            <div id="about-page-end">
                <div class="bg-linear-to-br from-[#9b0000] from-25% via-[#ff0000] via-50% to-white to-75% rounded-lg">
                    <Image src={ PlumberTeamWhite } alt="team of plumbers wearing white" />
                </div>
                <div class="grid grid-cols-2 place-items-center gap-2 bg-white rounded-md w-full h-max p-3 mt-3">
                    <div class="flex justify-around items-center bg-[#f5f6f7] rounded-md w-full h-full p-3"> <span class="text-[#440c0c] text-2xl font-[MuseoModerno]"> 38 </span> <span class="font-[Golos_Text]"> Years Experience </span> </div>
                    <div class="flex justify-around items-center bg-[#f5f6f7] rounded-md w-full h-full p-3"> <span class="text-[#440c0c] text-2xl font-[MuseoModerno]"> 100+ </span> <span class="font-[Golos_Text]"> Projects </span>  </div>
                    <div class="flex justify-around items-center bg-[#f5f6f7] rounded-md w-full h-full p-3"> <span class="text-[#440c0c] text-2xl font-[MuseoModerno]"> 46 </span> <span class="font-[Golos_Text]"> Positive Reviews </span> </div>
                    <div class="flex justify-evenly items-center bg-[#f5f6f7] rounded-md w-full h-full p-3"> <span class="text-[#440c0c] text-2xl font-[MuseoModerno]"> 100% </span> <span class="font-[Golos_Text]"> Certified </span> </div>
                </div>
            </div>
        </div>
        <div class="m-5">
            <span class="text-2xl font-[Golos_Text] m-5"> Meet the team </span>
            <div class="grid grid-cols-3 gap-3 m-10">
                <Image class="bg-[#fa6969]/12 rounded-lg object-cover w-[215px]" src={ Worker } alt="industrial worker" />
                <div class="object-cover w-[200px]">
                    <Image class="bg-[#fa6969]/12 rounded-lg w-full" src={ Technician } alt="technician" />
                    <div class="relative bottom-20 bg-white rounded-lg p-2 text-center font-[Golos_Text] shadow-md">
                        Derrick Johnson
                        <div class="text-[10px] font-[Golos_Text]">Technician</div>
                    </div>
                </div>
                <Image class="bg-[#fa6969]/12 rounded-lg object-cover w-[215px]" src={ Worker } alt="industrial worker" />
                <Image class="bg-[#fa6969]/12 rounded-lg object-cover w-[215px]" src={ Worker } alt="industrial worker" />
                <Image class="bg-[#fa6969]/12 rounded-lg object-cover w-[200px]" src={ Technician } alt="technician" />
                <Image class="bg-[#fa6969]/12 rounded-lg object-cover w-[215px]" src={ Worker } alt="industrial worker" />
            </div>
        </div>

        <div class="flex justify-evenly my-10">
            <div class="flex flex-col bg-[#f5f6f7] rounded-md max-w-[50%] mx-4 px-4 py-2">
                <span class="text-[#8c1111] font-semibold font-[Inter]"> Our Vision </span>
                <span class="text-2xl font-bold font-[Inter] mb-5 max-w-[18pc]"> Affordable and Reliable Plumbing Help </span>
                <span class="text-[12px] font-normal font-[Golos_Text]"> 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Phasellus vitae dui ultrices, feugiat neque id, pulvinar ligula. 
                    Nam et lorem vitae lectus condimentum feugiat vulputate nec sapien. 
                    Suspendisse nec accumsan purus. Cras et gravida tortor, nec mollis ipsum. 
                    Vivamus a justo dolor. Integer a ligula nisi. Cras at lacinia velit. 
                    Curabitur eu ligula arcu.
                </span>
            </div>
            <div class="flex flex-col bg-[#f5f6f7] rounded-md max-w-[50%] mx-4 px-4 py-2">
                <span class="text-[#8c1111] font-semibold font-[Inter]"> Our Mission </span>
                <span class="text-2xl font-bold font-[Inter] mb-5 max-w-[18pc]"> Local and Certified Problem Solving </span>
                <span class="text-[12px] font-normal font-[Golos_Text]"> 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Phasellus vitae dui ultrices, feugiat neque id, pulvinar ligula. 
                    Nam et lorem vitae lectus condimentum feugiat vulputate nec sapien. 
                    Suspendisse nec accumsan purus. Cras et gravida tortor, nec mollis ipsum. 
                    Vivamus a justo dolor. Integer a ligula nisi. Cras at lacinia velit. 
                    Curabitur eu ligula arcu.
                </span>
            </div>
        </div>

    </div>

</Layout>