---
import '../styles/global.css';
import Layout from "../layouts/Layout.astro";
import ServiceContainer from '../components/ServiceContainer.astro';
import Image from 'astro/components/Image.astro';
import Toilet from '../assets/toilet.png';
import BathTub from '../assets/bathtub.png';
import Sink from '../assets/drain.png';
import DrainPipes from '../assets/drain-pipe.png';
import { getCollection } from 'astro:content';

const allServices = await getCollection('services');
---

<Layout>
    <div id="service-page-container" class="w-screen h-auto">
        <div class="flex flex-col m-10"> 
            <span class="text-4xl font-semibold font-[Inter]"> Reliable Plumbing Solutions, </br> Simplified For You </span>
            <span class="text-[#63656a] font-semibold font-[Golos_Text]"> Experience top-notch plumbing services with fast response time, </br> expert repairs, and long-lasting solutions - all in one place. </span>
        </div>


        <div class="grid grid-cols-4 gap-5 m-10">
            <div class="w-full h-full">
                <span class="text-red-800 font-semibold font-[Libre_Franklin] leading-loose h-[10%]"> Septic System Services </span>
                <Image loading={'eager'} class="rounded-sm w-full h-[75%]" src={ Toilet } alt="nice toilet" />
                <span class="text-[12px] text-[#63656a] font-[Golos_Text] h-[20%]"> Get in touch with us today by using the inquiry form or the contact details below </span>
            </div>
            <div class="w-full h-full">
                <span class="text-red-800 font-semibold font-[Libre_Franklin] leading-loose h-[10%]"> Fixture Installation </span>
                <Image loading={'eager'} class="rounded-sm w-full h-[75%]" src={ BathTub } alt="bathtub"/>
                <span class="text-[12px] text-[#63656a] font-[Golos_Text] h-[20%]"> Get in touch with us today by using the inquiry form or the contact details below </span>
            </div>
            <div class="w-full h-full">
                <span class="text-red-800 font-semibold font-[Libre_Franklin] leading-loose h-[10%]"> Drain Cleaning </span>
                <Image loading={'eager'} class="rounded-sm w-full h-[75%]" src={ Sink } alt="sink drain"/>
                <span class="text-[12px] text-[#63656a] font-[Golos_Text] h-[20%]"> Get in touch with us today by using the inquiry form or the contact details below </span>
            </div>
            <div class="w-full h-full">
                <span class="text-red-800 font-semibold font-[Libre_Franklin] leading-loose h-[10%]"> Leak Repair </span>
                <Image loading={'eager'} class="rounded-sm w-full h-[75%]" src={ DrainPipes } alt="drain pipes"/>
                <span class="text-[12px] text-[#63656a] font-[Golos_Text] h-[20%]"> Get in touch with us today by using the inquiry form or the contact details below </span>
            </div>
        </div>
        <div class="flex flex-col mx-10 my-10">
            <span class="text-[#63656a] font-semibold font-[Golos_Text]"> Services </span>
            <span class="text-2xl font-semibold font-[Golos_Text]"> Expert Plumbing Services for </br> Every Home and Business Need. </span>
        </div>
        <div class="grid grid-cols-3 grid-rows-4 gap-y-4 mb-10">
            { allServices.map((service: any) => <ServiceContainer serviceType={ service.data.title } serviceUrl={ service.id } />) }
        </div>
    </div>
</Layout>