---
import '../styles/global.css';
import { Image } from 'astro:assets';
import RightArrow from '../assets/arrow-right-bold.svg';

const { blogCover, blogCoverAlt, blogTitle, blogUrl } = Astro.props;
---

<a href={ '/posts/' + blogUrl } class="block group">
    <div class="bg-white rounded-lg shadow-md overflow-hidden hover:shadow-lg transition-shadow h-full flex flex-col">
        <div class="relative">
            <Image 
                class="w-full h-48 object-cover group-hover:opacity-90 transition-opacity" 
                src={ blogCover } 
                alt={ blogCoverAlt } 
            />
        </div>
        <div class="p-4 flex-grow flex flex-col">
            <h3 class="text-lg font-semibold font-[Libre_Franklin] text-zinc-900 mb-3 leading-tight">
                {blogTitle}
            </h3>
            <div class="mt-auto flex items-center justify-between text-sm font-[Golos_Text]">
                <span class="text-red-800 font-semibold">Read More</span>
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z" fill="#8c1111"/>
                </svg>
            </div>
        </div>
    </div>
</a>