---
import '../styles/global.css';
---

<div class="m-2.5">
    <h1 class="text-center justify-start w-max"> 
        <span class="text-red-800 text-3xl font-normal font-[Libre_Franklin]"> Big Branch </br></span> 
        <span class="text-red-800 text-3xl font-bold font-[Libre_Franklin]"> Plumbing </span> 
    </h1>
</div>