---
import '../styles/global.css';
---

<div class="m-2.5">
    <h1 class="text-center justify-start w-max"> 
        <span class="text-red-800 text-2xl font-normal"> Big Branch </br></span> 
        <span class="text-red-800 text-2xl font-bold"> Plumbing </span> 
    </h1>
</div>