---
import '../styles/global.css';
import SubFooter from '../components/SubFooter.astro';
---


<div class="bg-[url(/src/assets/footer-backdrop.jpg)] bg-no-repeat bg-size-[130vw] flex flex-col justify-center items-center">
    <div class="relative flex flex-col items-center w-auto h-auto my-14">
        <span class="text-5xl font-semibold text-white text-center"> Emergency or Routine </br> Plumbing? </br> We've Got You Covered. </span>
        <div class="flex my-16">
            <button type="button" class="bg-white text-[#784736] font-semibold rounded-4xl p-[5px_18px] cursor-pointer">
                Book Now    
            </button>
            <button type="button" class="text-white font-semibold border-[2px] border-[white] rounded-4xl p-[5px_18px] cursor-pointer ml-20">
                Call Today
            </button>
        </div>
        <SubFooter />
    </div>
</div>

