---
import '../styles/global.css';
import SubFooter from '../components/SubFooter.astro';
---


<div class="bg-[url(/src/assets/footer-backdrop.jpg)] bg-no-repeat bg-size-[130vw] flex flex-col justify-center items-center">
    <div class="relative flex flex-col items-center w-auto h-auto my-14">
        <span class="text-5xl font-semibold font-[Golos_Text] text-white text-center"> Emergency or Routine </br> Plumbing? </br> We've Got You Covered. </span>
        <div class="flex my-16">
            <a href="/contact/">
                <button type="button" class="bg-white text-[#784736] font-medium font-[Golos_Text] rounded-4xl p-[7px_18px] cursor-pointer">
                    Book Now    
                </button>
            </a>
            <a href="tel:(985)-626-5711">
                <button type="button" class="text-white font-medium font-[Golos_Text] border-[2px] border-[white] rounded-4xl p-[5px_18px] cursor-pointer ml-20">
                    Call Today
                </button>
            </a>
        </div>
        <SubFooter />
    </div>
</div>

