---
import Image from "astro/components/Image.astro";
import CalendarIcon from '../assets/calendar-icon.svg';

const {  blogCover, blogCoverAlt, blogTitle, blogDate, blogDay, blogMonth, blogYear, blogUrl } = Astro.props;
---


<div class="flex flex-col justify-center items-center rounded-lg">
    <div class="w-full h-full"> 
        <div class="relative text-center bg-[#c52121] rounded-lg top-25 left-5 w-max h-max">
            <span class="text-2xl font-normal font-[MuseoModerno]"> { blogDay } </span> 
            <br> 
            <span class="text-[12px] font-normal font-[Golos_Text]"> { blogMonth } </span>
            <div class="relative bg-white text-[12px] text-center font-normal font-[Golos_Text] rounded-bl-lg rounded-br-lg w-full px-2 py-0.5"> { blogYear } </div> 
        </div> 
        <Image class="rounded-lg min-w-[100%]" src={ blogCover } alt={ blogCoverAlt } />
    </div>
    <div class="relative bg-[#8c1111] px-10 py-5 max-w-[90%] h-max rounded-lg bottom-15">
        <div class="flex items-center justify-between">
            <div> <Image src={ CalendarIcon } alt="calendar icon" /></div>
            <div class="relative text-white text-[12px] font-normal font-[Golos_Text]"> { blogDate } | Plumbing Services </div>
        </div>
        <div class="relative text-white font-semibold font-[Libre_Franklin] max-w-[20pc] my-5 left-2"> { blogTitle } </div>
        <div class="my-2"> <a href={ '/posts/' + blogUrl }> <button class="bg-[#c52121] rounded-[28px] font-medium font-[Libre_Franklin] px-5 py-2 cursor-pointer"> Read More </button> </a> </div>
    </div>
</div>
