---
import '../styles/global.css';
---

<div data-svg-wrapper>
    <svg width="40" height="40" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M25.4999 36.6987L34.3187 42.0325C35.9337 43.01 37.9099 41.565 37.4849 39.7375L35.1474 29.7075L42.9462 22.95C44.3699 21.7175 43.6049 19.38 41.7349 19.2312L31.4712 18.36L27.4549 8.88249C26.7324 7.16124 24.2674 7.16124 23.5449 8.88249L19.5287 18.3387L9.26494 19.21C7.39494 19.3587 6.62994 21.6962 8.05369 22.9287L15.8524 29.6862L13.5149 39.7162C13.0899 41.5437 15.0662 42.9887 16.6812 42.0112L25.4999 36.6987Z" fill="#DE3B3B"/>
    </svg>
</div>