---
import '../styles/global.css';
import CircleIcon from '../components/CircleIcon.astro';


const { serviceType, serviceUrl } = Astro.props;
---

<div class="bg-gray-100 rounded-sm w-auto h-auto p-5 mx-5">
    <div data-svg-wrapper>
        <CircleIcon width="30" height="30" color="#c52121"/>
        <svg class="relative bottom-7 left-0.5" width="25" height="25" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32.1251 15.2917L26.2501 9.41671L22.7084 12.9167L19.1667 9.41671L23.8751 4.66671C24.2084 4.33337 24.5834 4.0906 25.0001 3.93837C25.4167 3.78615 25.8334 3.70949 26.2501 3.70837C26.6945 3.70837 27.1184 3.78504 27.5217 3.93837C27.9251 4.09171 28.279 4.33449 28.5834 4.66671L32.1251 8.20837C32.6251 8.6806 32.9934 9.22949 33.2301 9.85504C33.4667 10.4806 33.5845 11.1123 33.5834 11.75C33.5823 12.3878 33.4645 13.0128 33.2301 13.625C32.9956 14.2373 32.6273 14.7928 32.1251 15.2917ZM9.16675 22.9584C8.66675 22.4584 8.41675 21.8684 8.41675 21.1884C8.41675 20.5084 8.66675 19.9178 9.16675 19.4167L13.2501 15.2917L16.7917 18.8334L12.6667 22.9584C12.1945 23.4584 11.6184 23.7084 10.9384 23.7084C10.2584 23.7084 9.66786 23.4584 9.16675 22.9584ZM7.37508 35.3334C7.06953 35 6.83341 34.6323 6.66675 34.23C6.50008 33.8278 6.41675 33.4039 6.41675 32.9584C6.41675 32.5128 6.49341 32.0895 6.64675 31.6884C6.80008 31.2873 7.04286 30.9189 7.37508 30.5834L19.1667 18.8334L13.8751 13.5C13.3751 13.0278 13.1251 12.4517 13.1251 11.7717C13.1251 11.0917 13.3751 10.5012 13.8751 10C14.3473 9.50004 14.9306 9.25004 15.6251 9.25004C16.3195 9.25004 16.9167 9.50004 17.4167 10L22.7084 15.2917L25.0834 12.9167L29.7501 17.6667C30.0834 18 30.2501 18.3889 30.2501 18.8334C30.2501 19.2778 30.0834 19.6667 29.7501 20C29.4167 20.3334 29.0279 20.5 28.5834 20.5C28.139 20.5 27.7501 20.3334 27.4167 20L12.0834 35.3334C11.7501 35.6667 11.3817 35.91 10.9784 36.0634C10.5751 36.2167 10.1656 36.2928 9.75008 36.2917C9.33453 36.2906 8.91786 36.2073 8.50008 36.0417C8.0823 35.8762 7.7073 35.64 7.37508 35.3334Z" fill="white"/>
        </svg>
    </div>
    <div class="flex flex-col"> 
        <span class="text-[18px] font-semibold font-[Libre_Franklin] mb-2"> { serviceType } </span>
        <span class="text-[12px] text-[#63656a] font-[Golos_Text] leading-3.5"> Get in touch with us today by using the </br> inquiry form or the contact details below </span>
    </div>
    <a class="flex mt-6 cursor-pointer max-w-max" href={ '/services/' + serviceUrl }> 
        <span class="relative text-[12px] font-semibold font-[Golos_Text] top-0.5"> More Details </span> 
        <svg width="24" height="24" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.5859 3.27197C10.211 3.64703 10.0003 4.15565 10.0003 4.68597C10.0003 5.2163 10.211 5.72492 10.5859 6.09997L20.4859 16L10.5859 25.9C10.2216 26.2772 10.02 26.7824 10.0246 27.3068C10.0291 27.8312 10.2395 28.3328 10.6103 28.7036C10.9811 29.0744 11.4827 29.2848 12.0071 29.2893C12.5315 29.2939 13.0367 29.0923 13.4139 28.728L24.7279 17.414C25.1028 17.0389 25.3135 16.5303 25.3135 16C25.3135 15.4696 25.1028 14.961 24.7279 14.586L13.4139 3.27197C13.0388 2.89703 12.5302 2.6864 11.9999 2.6864C11.4696 2.6864 10.961 2.89703 10.5859 3.27197Z" fill="#363941"/>
        </svg>
    </a>
</div>