---
import '../styles/global.css';
---

<div id="subfooter-container" class="bg-white rounded-md w-[125%] h-auto py-2 px-4">
    <span class="font-normal font-[Libre_Franklin] m-4"> Big Branch </br> <span class="font-bold font-[Libre_Franklin] m-4"> Plumbing </span> </span>
    <div class="grid grid-cols-4 gap-0 mx-8">
        <div class="flex flex-col h-6/12 w-max"> 
            <h1 class="text-red-800 text-[100%] font-semibold font-[Libre_Franklin] leading-24"> Links </h1>
            <a class="text-red-800 text-[75%] font-[Golos_Text] underline leading-6" href="/"> Home </a>
            <a class="text-red-800 text-[75%] font-[Golos_Text] underline leading-6" href="/about/"> About </a>
            <a class="text-red-800 text-[75%] font-[Golos_Text] underline leading-6" href="/services/"> Service </a>
            <a class="text-red-800 text-[75%] font-[Golos_Text] underline leading-6" href="/contact/"> Contact </a>
            <a class="text-red-800 text-[75%] font-[Golos_Text] underline leading-6" href="/blogs/"> Blog </a>
        </div>
        <div class="flex flex-col w-max">
            <h1 class="text-red-800 font-semibold font-[Libre_Franklin] text-[100%] leading-24"> Contact Us </h1>
            <a href="tel:(985)-626-5711" class="flex text-[75%] font-normal font-[Golos_Text] cursor-pointer"> 
                <div data-svg-wrapper class="mr-0.5">
                    <svg width="75%" height="25" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.85683 0.871252C10.8566 2.3295 12.3702 4.37834 13.6591 6.26092L14.6692 7.74609C14.9829 8.20456 15.1265 8.75828 15.075 9.31141C15.0235 9.86454 14.7803 10.3823 14.3874 10.775L12.2404 12.922L12.4668 13.4033C13.021 14.5259 13.9773 16.1425 15.4166 17.5833C16.412 18.5603 17.5321 19.4015 18.7479 20.085L19.329 20.3969L19.8467 20.6534L20.0779 20.7595L22.2233 18.6125C22.6173 18.2182 23.1374 17.975 23.6926 17.9255C24.2478 17.876 24.8027 18.0233 25.2602 18.3418L26.8657 19.4548C28.6897 20.7373 30.5944 22.1988 32.0748 24.0956C32.3307 24.4248 32.4935 24.8166 32.5462 25.2303C32.5988 25.6439 32.5394 26.064 32.3741 26.4468C31.0488 29.5391 27.6953 32.1722 24.2072 32.0423L23.7322 32.017L23.3633 31.9853L22.9548 31.9378L22.5099 31.8777L22.027 31.7969L21.5108 31.6956L20.963 31.5737L20.3835 31.4248L19.7739 31.2507L19.1374 31.0448C16.2146 30.0537 12.5048 28.1062 8.69849 24.2998C4.89216 20.4935 2.94624 16.7853 1.95508 13.8625L1.74924 13.226L1.57508 12.6164L1.42624 12.0369L1.30274 11.4891C1.26711 11.3175 1.23386 11.1454 1.20299 10.9729L1.12383 10.49L1.06049 10.0451L1.01458 9.63659L0.982909 9.26767L0.957576 8.79267C0.829326 5.31567 3.49091 1.93842 6.56891 0.619502C6.93937 0.459533 7.34506 0.398628 7.74617 0.442763C8.14727 0.486898 8.53001 0.634558 8.85683 0.871252ZM7.38908 3.73392C5.69174 4.62058 4.04824 6.64725 4.12266 8.6755L4.15433 9.19484L4.18916 9.51942L4.23508 9.88358L4.29841 10.2842L4.37916 10.7228L4.48208 11.1946L4.60874 11.7013L4.76074 12.238L4.94124 12.8048C5.00774 12.998 5.07846 13.1959 5.15341 13.3986L5.39724 14.0193L5.67591 14.6637C6.67024 16.8518 8.29158 19.4137 10.9405 22.061C13.5878 24.7083 16.1497 26.3313 18.3378 27.3256L18.9822 27.6043L19.6029 27.8481C19.8056 27.9241 20.0035 27.9948 20.1967 28.0603L20.7635 28.2408L21.3018 28.3928L21.8069 28.5194L22.2787 28.6223L22.7173 28.7031L23.1195 28.7664L23.4837 28.8139L23.8067 28.8456L24.326 28.8773C26.3273 28.9517 28.3698 27.3177 29.2533 25.6425C28.126 24.3204 26.7263 23.2358 25.1826 22.1433L23.9982 21.3184L23.6974 21.6335L23.0546 22.3349L22.7142 22.6928C21.7863 23.638 20.7033 24.4408 19.405 23.9167L19.0472 23.7663L18.6102 23.5699L18.3663 23.4543L17.8312 23.1868L17.2437 22.8701C15.7586 22.0406 14.3916 21.0155 13.1793 19.8222C11.986 18.6099 10.9609 17.2429 10.1314 15.7578L9.81474 15.1719L9.54558 14.6352L9.23524 13.9543L9.08324 13.5933C8.59083 12.3758 9.26849 11.3482 10.1346 10.4583L10.4892 10.11L11.3712 9.29775L11.6878 8.99692L10.9389 7.89967C9.82583 6.28467 8.73808 4.828 7.38749 3.73233L7.38908 3.73392ZM21.7388 6.56333L21.9225 6.58392C23.075 6.78721 24.1336 7.35016 24.9465 8.19208C25.7594 9.03399 26.2849 10.1116 26.4477 11.2706C26.5057 11.6715 26.4079 12.0793 26.1744 12.4103C25.9408 12.7412 25.5894 12.9701 25.1922 13.0498C24.7951 13.1295 24.3825 13.054 24.0394 12.8388C23.6963 12.6236 23.4486 12.285 23.3475 11.8928L23.3111 11.7108C23.2474 11.2565 23.0535 10.8304 22.7528 10.484C22.4522 10.1375 22.0577 9.88555 21.6169 9.7585L21.3715 9.70308C20.9739 9.63262 20.6183 9.41292 20.3773 9.08892C20.1364 8.76492 20.0283 8.36111 20.0752 7.96006C20.1221 7.55902 20.3205 7.19106 20.6297 6.93143C20.939 6.6718 21.3357 6.54013 21.7388 6.56333ZM21.7499 1.75C24.2695 1.75 26.6858 2.75089 28.4674 4.53249C30.249 6.31408 31.2499 8.73044 31.2499 11.25C31.2495 11.6536 31.0949 12.0417 30.8179 12.3352C30.5409 12.6286 30.1622 12.8052 29.7594 12.8289C29.3565 12.8525 28.9598 12.7214 28.6503 12.4624C28.3409 12.2034 28.142 11.836 28.0943 11.4353L28.0832 11.25C28.0831 9.64222 27.4714 8.09468 26.3724 6.92122C25.2733 5.74776 23.7691 5.03623 22.1647 4.93092L21.7499 4.91667C21.33 4.91667 20.9273 4.74985 20.6303 4.45292C20.3334 4.15599 20.1666 3.75326 20.1666 3.33334C20.1666 2.91341 20.3334 2.51068 20.6303 2.21375C20.9273 1.91682 21.33 1.75 21.7499 1.75Z" fill="#363941"/>
                    </svg>
                </div>
                (985) 626-5711 
            </a>
            <a href="mailto:bbranch@gmail.com" class="flex text-[75%] font-normal font-[Golos_Text] cursor-pointer">
                <div data-svg-wrapper class="mr-0.5">
                    <svg width="75%" height="25" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.25 8.00016C30.25 6.5335 29.0125 5.3335 27.5 5.3335H5.5C3.9875 5.3335 2.75 6.5335 2.75 8.00016V24.0002C2.75 25.4668 3.9875 26.6668 5.5 26.6668H27.5C29.0125 26.6668 30.25 25.4668 30.25 24.0002V8.00016ZM27.5 8.00016L16.5 14.6668L5.5 8.00016H27.5ZM27.5 24.0002H5.5V10.6668L16.5 17.3335L27.5 10.6668V24.0002Z" fill="#1F2022"/>
                    </svg>
                </div>
                bbranch@gmail.com
            </a>
        </div>
        <div class="flex flex-col w-max">
            <h1 class="text-red-800 font-semibold font-[Libre_Franklin] text-[100%] leading-24"> Stop By </h1>
            <span class="flex text-[75%] font-normal font-[Golos_Text]">
                <div data-svg-wrapper class="mr-0.5">
                    <svg width="25" height="25" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 17.25C17.0054 17.25 16.0516 16.8549 15.3483 16.1517C14.6451 15.4484 14.25 14.4946 14.25 13.5C14.25 12.5054 14.6451 11.5516 15.3483 10.8483C16.0516 10.1451 17.0054 9.75 18 9.75C18.9946 9.75 19.9484 10.1451 20.6517 10.8483C21.3549 11.5516 21.75 12.5054 21.75 13.5C21.75 13.9925 21.653 14.4801 21.4645 14.9351C21.2761 15.39 20.9999 15.8034 20.6517 16.1517C20.3034 16.4999 19.89 16.7761 19.4351 16.9645C18.9801 17.153 18.4925 17.25 18 17.25ZM18 3C15.2152 3 12.5445 4.10625 10.5754 6.07538C8.60625 8.04451 7.5 10.7152 7.5 13.5C7.5 21.375 18 33 18 33C18 33 28.5 21.375 28.5 13.5C28.5 10.7152 27.3938 8.04451 25.4246 6.07538C23.4555 4.10625 20.7848 3 18 3Z" fill="#1F2022"/>
                    </svg>
                </div>
                21357 Marion Ln, </br> Mandeville, LA 70471
            </span>
        </div>
        <div class="flex flex-col w-max">
            <h1 class="text-red-800 font-semibold font-[Libre_Franklin] text-[100%] leading-24"> Office Hours </h1>
            <span class="font-bold font-[Golos_Text] text-[75%]"> Mon-Wed <span class="font-normal font-[Golos_Text]"> 9:00 am - 5:00 </br> pm </span> </span>
            <span class="font-bold font-[Golos_Text] text-[75%]"> Thu-Fri <span class="font-normal font-[Golos_Text]"> 11:00 am - 5:00 </br> pm </span> </span>
        </div>
    </div>
    <!-- <Image class="justify-self-end w-[25%] h-[50%] m-2" src= { MapLocation } alt="location on map"></Image> -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13761.458514607746!2d-90.06612674776471!3d30.425763808150457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x862759303e3a934d%3A0xfde369a68e79ac12!2s21357%20Marion%20Ln%2C%20Mandeville%2C%20LA%2070471!5e0!3m2!1sen!2sus!4v1761327325767!5m2!1sen!2sus" 
     class="justify-self-end w-[40%] m-2"
     title="Map location for 21357 Marion Lane"
     allowfullscreen="" 
     loading="lazy" 
     referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    <footer class="text-[12px] font-[Golos_Text] ml-1"> Site by <span class="underline font-[Golos_Text]"> ByrdLabs </span>. 2025 All rights reserved. </footer>
</div>