---
import '../styles/global.css';
import FooterBackdrop from '../components/FooterBackdrop.astro';
import CompanyHeader from '../components/CompanyHeader.astro';
import Navigation from '../components/Navigation.astro';
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Big Branch Plumbing</title>
	</head>
	<body>
		<div class="flex justify-between">
			<CompanyHeader />
			<Navigation />
		</div>
        <slot />
		<FooterBackdrop />
	</body>
</html>